body {
  background-color: #efefef;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dados {
  color:rebeccapurple;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  max-width: 736px;
  max-height: 570px;
  margin-bottom: 50px;
}

.numero {
  background-color: #fff;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 8px;
}

.displayNone {
  display: none;
}

hr {
  width: 100%;
}

.escondido {
  visibility: hidden;
}

.panel {
  margin-bottom: 50px;
}

.azul {
  background-color: blue;
}

.rojo {
  background-color: red;
}

.amarillo {
  background-color: yellow;
}

.relativo {
  position: relative;
  top: 40px;
  right: 40px;
}

/* .fijo {
  position: fixed;
  bottom: 20px;
  right: 15px;
} */

#containerRelative {
  position: relative;
}

#absolute {
  position: absolute;
  left: 300px;
  top: -100px;
}