.caja1 {
  background-color: blue;
  height: 70px;
}

.caja2 {
  background-color: yellowgreen;
  height: 70px;
}

.caja3 {
  background-color: gold;
  height: 70px;
}

.caja4 {
  background-color: red;
  height: 70px;
}